body,
html {
  height: 95%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.getAssesment {
  align-self: center;
  font-family: Arial, sans-serif;
  padding: 1.5rem;
  margin: 1rem;
  background-color: #fff;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
}

input,
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #131313;
  border-radius: 4px;
}

button {
  margin-top: 1rem;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  /* font-weight: bold; */
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 98%;
  display: inline-block;
}
button:hover {
  background: #014ea0;
}
