body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 90%;
  margin: 1rem 1rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-self: center;
}
h2,
h3 {
  text-align: center;
}
.comment-form label {
  font-weight: bold;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.comment-form button,
.response-form button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  display: inline-block;
}
.comment-form button:hover,
.response-form button:hover {
  background: #014ea0;
}
.comments-section {
  margin-top: 20px;
}
label[for="title"] {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  align-self: flex-start;
  width: 20%;
  min-width: fit-content;
}

button.add-comment:hover {
  background: #014ea0;
}
