body,
html {
  height: 95%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  width: 90%;
  flex-direction: column; /*added*/
  align-self: center;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

input {
  width: calc(100% - 22px);
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid #171616;
  border-radius: 1px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  align-self: flex-start;
  width: 20%;
  min-width: fit-content;
}

button:hover {
  background: #014ea0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #343434;
  color: white;
  padding: 15px 20px;
}
