body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
div.table {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  width: 90%;
  flex-direction: column;
  align-self: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: fit-content;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.table {
  padding: 1.5rem;
  margin: 1rem;
  width: 50%;
  text-align: center;
  display: grid;
}

table {
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  display: flex;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #35373a;
  color: rgb(241, 232, 232);
}

#effortChart {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}
